body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 28px;
}

.row {
  display: flex;
  gap: 0.25rem;
  flex-direction: row;
}

.col {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}
